.Todo {
  display: flex;
  justify-content: space-between;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3.2rem;
  background-color: rgba(255, 255, 255, .1);
  flex-wrap: wrap;
}

.Todo-title {
  cursor: pointer;
  position: relative;
  transition: all .4s;
  word-break: break-all;
  flex-grow: 40;
}

.Todo-title.done {
  opacity: .6;
  text-decoration: line-through;
}

/* .Todo-title.done::before {
  content: '';
  position: absolute;
  top: 36%;
  left: -.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  animation: strikeitem .5s ease-out 0s forwards;
} */

.Todo-btns {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  cursor: pointer;
  color: white;
}

.Todo-actions {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.Todo-edit-form {
  display: flex;
  flex-wrap: wrap;
}

.Todo-edit-form input{
  flex-grow: 1;
  border: none;
  background-color: #f7f1f1;
  font-size: initial;
  padding: 0 1.5em;
}

.Todo-edit-form button {
  padding: 0 1.3rem;
  border: none ;
  background-color: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, .3);
  margin-left: 5px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.Todo-edit-form button:hover {
  background-color: #ff5e5e;
}

.Todo-edit-form input,
.Todo-edit-form button {
  font-family: Quicksand;
  height: 3rem;
}

.Todo-edit-form input:focus,
.Todo-edit-form button:focus {
  outline: none;
} 


@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}
